body{
    font-family: "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
ul, li{
    padding: 0px;
}
.input::-webkit-input-placeholder, {
    color: #B0B0B0;
}
input:-moz-placeholder {
    color: #B0B0B0;
}
input::-moz-placeholder {
    color: #B0B0B0;
}
input::-ms-input-placeholder {
    color: #B0B0B0;
}
#chat{
    border:1px solid #ddd;
    min-width: 960px;
    min-width: 297px;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    padding: 15px 20px;
    left: 16%;
    font-size: 13px; 
    -moz-box-shadow: 1px 1px 10px 5px #E0E0E0;/* 老的 Firefox */
    box-shadow: 1px 1px 10px 5px #E0E0E0;
    border-radius: 8px;
}
#client {
    /* position: relative; */
}
#chat-client {
    /* padding: 20px 20px; */
    /* position: relative; */
}
.scoll-reference{
    position: relative;
    padding: 20px 20px;
    border-top: none !important;
    height: 414px;
}
.scrollbar-macosx{
    /* height: 414px !important;
    border:1px solid #dddddd !important;
    border-top: none !important;
    margin-bottom: 15px !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0px 20px !important; */
    padding: 20px 20px;
    width: 100%;
}

.chatClient{
    position: absolute;
    top: 0px;
    width: 95%;
}
#chat-context{

}

.chat-item{
    margin-bottom: 15px;
}

#chat-context .tab-content{
    min-height: 570px;
}
#chat-context .nav-tabs .active a{
    font-weight: 700;
}

#chat-context a{
    color: #555;
}

#chat-context .chI-time{
    text-align: center;
}

#chat-context .chat-item span{
    width: 110px;
    padding: 1px;
    font-size: 12px; 
}

.chIndex-context{
    position: relative;
    padding-left: 70px;
}
.chIndex-context .head-logo{
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
}
.item-name{
    color: #3D3D3D;
    margin-bottom: 8px;
    font-weight: 600;
    padding:0 8px;
}
.item-context{
    border-radius:20px; 
    background: #F3F4F6;
    padding:10px;
    display:inline-block;
    color: #A9A9A9;    
}

.chat-My{
    position: relative;
}
.chat-My .item-context{
    background: #DFEFFF;
}

.My-context{
    text-align: right;
    padding-right: 70px;
}
.chat-My .My-context .head-logo{
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
}

.chat-operation{
    height: 20px;
    margin-bottom: 20px;
    position: relative;
    line-height: 40px;
    top: 7px;
}

.chat-operation i{
    font-size:23px;
    margin: 5px;  
    color: #dddddd;
    cursor: pointer;
}

.client-bootom{
    min-height: 140px;
    margin-top: 25px;
    position: relative;
}

.client-bootom textarea{
    outline: none;
    resize: none;
    border: none;
    display: inline-block;
    width: 100%;
    height: 95px;
    padding: 15px 20px;
}
.bootom-btn{
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    text-align: center;
    margin-right: 10px;
}

.btn-out{
    background: #fff;
    border: 1px  solid #ddd;
    padding: 5px 15px;
}
.btn-send{
    background: #148DF5;
    color: #fff;
}

.chat-hint{
    margin: 15px 0px 1px 20px;
}
.chat-hint a{
    color: #3B97E5 !important;
    text-decoration: none;
    cursor: pointer;
}


#chat-menu{
    border: 1px solid #ddd;
}
.serviceOrder{
    padding-top: 10px; 
}
.serviceO-page{
    color:#ABABAB;
    float: right;
}
.serviceO-page i{
    cursor: pointer;
}
.serviceO-title{
    margin-bottom: 10px;
}
.serviceO-title i{
    color: #148DF5;
}
.pageNum{
    margin-right: 6px;
    font-size: 12px;
}
.serviceO-title div{
    display: inline-block;
}
.serviceO-Context{
    padding: 15px;
    margin-bottom: 20px;
}
.serviceOC-titl div{
    display: inline-block;
}
.state{
    color: #8F8F8F;
}
.serviceOC-context{
    margin: 10px 0px;
    height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
    overflow: hidden;
    cursor: pointer;
}
.serviceOC-foot {
    margin-top: 15px;
    margin-bottom: 5px; 
}
.serviceOC-foot div{
    display: inline-block;
}

.gray{
    color: #54AAE8;
    cursor: pointer;
}

.notice{
    
}

.notice-Context{
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.not-Con{
    height: 110px;
    margin: 0px 5px;
    margin-top: 23px;
    margin-bottom: 47px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.not-foot{
    margin-top:24px; 
}
.not-foot div {
    display: inline-block;
}



/* 自助报账 */
#accounting{
    /* border:1px solid #ddd; */
    border-top: none;
    padding: 20px;
    padding-bottom: 75px;
    margin-bottom: 34px;
    /* border-radius: 6px; */
}

.not-Weight{
    font-weight: 100 !important;
}

.required-ico{
    color:red;
}
.a-upload {
    padding: 4px 10px;
    height: 34px;
    line-height: 23px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}


#chat-modal{
    padding: 20px 0px; 
}
.serve{
    position: relative;
}
.serveProcess{
    position: absolute;
    right: 50px;
}
.process-round{
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 44px;
    text-align: center;
    color: #ddd;
    position: relative;
}
.serveProcess div{
    float: left;
}
.crosswise{
    width: 32px;
    height: 1px;
    background: #ddd;
    margin: 23px 8px;
}

.processPass-color{
    background: #54AAE8;
}
.roundPass-color{
    border: 2px dashed #54AAE8;
    color: #54AAE8;
}

.process-time{
    width: 100px;
    position: absolute;
    top: 50px;
    left: -26px;
    line-height: 15px;
    font-size: 12px;
}

.colorA4{
    color:#A4A4A4;
}
#chatModal .page-header, #evaluateModal .page-header{
    margin: 0px 20px 0px 80px;
}
.evaluate-btn{
    background: #FEDFD3;
    border: none;
    color: #EA4B15;
    border-radius: 20px;
    margin-left: 10px; 
}

.Process-foot button{
    margin-right:10px;
}
.evaluate-color{
    background: #178DF1;
    color: #fff;
    border:none;
}

.evaluate-color:hover{
    background: #49A9EE !important;
    color: #fff;
}

.file-img{
   width: 100px;
   float: left;
}
.file-img span{
    position: relative;
    left:-10px;
    top: 5px;
}
.detail{
    position: relative;
}
.unsolved{
    position: absolute;
    right: -100px;
    top: 20px;
    border: 1px solid #3990D6;
    color: #3990D6;
    background: #fff;
}

.unsolved:hover{
    color: #3990D6;
}

.isSatisfaction-btn{
    border-radius: 20px;
    border: 1px solid #3990D6;
    background: #fff;
    padding: 5px 8px;
    margin-right: 10px; 
}
.isSatisfaction-btn i{
    font-size: 25px;
    margin-right: 10px;
}
.isSatisfaction-btn span{
    margin: 0px 8px;
    line-height: 12px;
    position: relative;
    top: -3px;
}

.Satisfaction-color{
    background: #3990D6;
    color: #fff;
}

.Satisfaction-color:hover{
    background: #3990D6;
    color: #fff;
}

.notSatisfaction-color:hover,::after{
    background: #fff;
    color: #3990D6;
}

.notSatisfaction-color{
    background: #fff;
    color: #3990D6;
}

.textareaNum{
    position: relative;
}
.changenum{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color:#A4A4A4;
}
.gift-data{
    display: inline-block;
}

.gift-data li{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  list-style: none;
  float: left;
  margin-right: 40px; 
  cursor: pointer;
}

.gift-data li img{
    height: 100%;
}
.radius{
    border-radius: 6px;
    border: 1px solid #ddd;
}

.present{
    position: relative;
}
.present-box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.present-check{
    background: #000;
    opacity: 0.6;
    height: 100%;
    display: block;
}
.present-ico{
    position: absolute;
    right: 13px;
    top: 0px;
    color: #3990D6;
    font-size: 25px;
    line-height: 47px;
    margin-left: 15px;
}
/* .nav-tabs{
    border-radius: 6px;
} */

.expediteOrder{
    position: relative;
}
.expediteModel{
    padding: 15px 20px;
    width: 300px;
    position: absolute;
    top: 30px;
    left: -12px;
    background: #fff;
    z-index: 666;
    box-shadow: 1px 1px 5px 2px #E0E0E0; 
}
.expedite-content{
    width: 250px;
    padding: 10px 0px 30px 0px;
    text-align: center;
    color: #767676;
}

.expedite-foot{
    margin-left: 45px;
}

.expedite-assign{
    position: absolute;
    top: -13px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
}
.red{
    color:red;
}